<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
   	<title><%= title %></title>
   	<link rel='stylesheet' href='/bootstrap-3.2.0/css/bootstrap.min.css' />
   	<link rel='stylesheet' href='/font-awesome-4.3.0/css/font-awesome.min.css' />
   	<link rel='stylesheet' href='/jquery.fine-uploader-5.1.3/fine-uploader.min.css' />
   	<link rel='stylesheet' href='/bootstrap-material-design/css/ripples.min.css' />
   	<link rel='stylesheet' href='/bootstrap-material-design/css/material.min.css' />
   	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>