<!DOCTYPE html>
<html>
     <% include head %>
     <body class="bg-img">
          <% include nav %>
          <div id="container" class="container">
               <div class="row">
                    <div class="col-xs-12 col-sm-5">
                         <% if (locals.success) { %>
                         <div id="alt_sucess" class="alert alert-success">
                              <%- success %>
                         </div>
                         <% } %>
                         <% if (locals.error) { %>
                         <div id="alt_warning" class="alert alert-warning">
                              <%= error %>
                         </div>
                         <% } %>
                         <form class="form-horizontal form-login" method="post">
                              <fieldset>
                                   <legend>欢迎回来</legend>
                                   <div class="form-group">
                                        <div class="col-xs-8">
                                             <input type="email" class="form-control floating-label" name="txtUserName" id="txtUserName" placeholder="账号(Email)" required autofocus>
                                        </div>
                                   </div>
                                   <div class="form-group">
                                        <div class="col-xs-8">
                                             <input type="password" class="form-control floating-label" name="txtUserPwd" id="txtUserPwd" placeholder="密码" required>
                                        </div>
                                   </div>
                                   <div class="form-group">
                                        <div class="col-sm-12">
                                             <div class="checkbox">
                                                  <label>
                                                       <input type="checkbox" name="chbRem">自动登录
                                                  </label>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="form-group">
                                        <div class="col-sm-12">
                                             <button type="submit" id="btnSub" class="btn btn-primary btn-flat btn-raised">登录</button>
                                             <span>or</span>
                                             <a href="/reg" class="btn btn-default btn-flat btn-raised">注册</a>
                                        </div>
                                   </div>
                              </fieldset>
                         </form>
                    </div>
                    <div class="col-xs-12 col-sm-7 sns-login">
                         <fieldset>
                         <legend>其他方式登录</legend>
                         <div class="btn btn-flat btn-fab">
                              <i class="fa fa-qq"></i>
                         </div>
                         <div class="btn btn-flat btn-fab">
                              <i class="fa fa-weibo"></i>
                         </div>
                         </fieldset>
                    </div>
               </div>
          </div>
          <% include foot %>
          <script type="text/javascript">
          String.prototype.format = function(args) {
               var result = this;
               if (arguments.length > 0) {
                    if (arguments.length == 1 && typeof(args) == "object") {
                         for (var key in args) {
                              if (args[key] != undefined) {
                                   var reg = new RegExp("({" + key + "})", "g");
                                   result = result.replace(reg, args[key]);
                              }
                         }
                    } else {
                         for (var i = 0; i < arguments.length; i++) {
                              if (arguments[i] != undefined) {
                                   var reg = new RegExp("({)" + i + "(})", "g");
                                   result = result.replace(reg, arguments[i]);
                              }
                         }
                    }
               }
               return result;
          }
          $(function() {
               $('#btnSub').on('click', function() {
                    var $txtUserName = $('#txtUserName'),
                         txtUserNameVal = $.trim($txtUserName.val()),
                         $txtUserPwd = $('#txtUserPwd'),
                         txtUserPwdVal = $.trim($txtUserPwd.val());
                    $txtUserName.popover({
                         content: function() {
                              if ($.trim($(this).val()).length == 0) {
                                   return '账号不能为空';
                              } else if (is.email($.trim($(this).val())) == false) {
                                   return '请填写正确的邮箱(如:server@ebei.net)';
                              }
                         },
                         container: 'body',
                         placement: 'right',
                         delay: {
                              "show": 500,
                              "hide": 100
                         },
                         trigger: 'manual'
                    });
                    $txtUserPwd.popover({
                         content: '密码不能为空',
                         container: 'body',
                         placement: 'right',
                         delay: {
                              "show": 500,
                              "hide": 100
                         },
                         trigger: 'manual'
                    });
                    if (txtUserNameVal.length == 0) {
                         $txtUserPwd.popover('hide');
                         $txtUserName.popover('show');
                         $txtUserName.focus();
                         return false;
                    } else if (is.email(txtUserNameVal) == false) {
                         $txtUserPwd.popover('hide');
                         $txtUserName.popover('show');
                         $txtUserName.focus();
                         return false;
                    } else if (txtUserPwdVal.length == 0) {
                         $txtUserName.popover('hide');
                         $txtUserPwd.popover('show');
                         $txtUserPwd.focus();
                         return false;
                    } else {
                         $txtUserPwd.popover('hide');
                         $txtUserName.popover('hide');
                    }
                    return true;
               })
          });
          </script>
     </body>
</html>